[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "*"
mypy = "*"
pylint = "*"
sphinx = "*"
sphinx-autoapi = "*"
sphinx-rtd-theme = "*"
types-python-dateutil = "*"
types-pytz = "*"
types-requests = "*"

[packages]
azure-identity = "*"
feedparser = "*"
flask = "*"
flask-caching = "*"
gcloud-config-helper = "*"
google-cloud-bigquery = "*"
google-cloud-firestore = "*"
google-cloud-secret-manager = "*"
gunicorn = "*"
matplotlib = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
stringcase = "*"
python-youtube = "*"

[requires]
python_version = "3.11"
