[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
sphinx = "*"
sphinx-autoapi = "*"
sphinx-rtd-theme = "*"

[packages]
gunicorn = "*"
google-cloud-bigquery = "*"
feedparser = "*"
python-dateutil = "*"
flask = "*"
flask-caching = "*"
pytz = "*"
google-cloud-secret-manager = "*"
google-cloud-firestore = "*"
gcloud-config-helper = "*"
matplotlib = "==3.5.2"
requests = "*"
azure-identity = "*"
msgraph-sdk = "*"
stringcase = "*"

[requires]
python_version = "3.9"
