[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
sphinx = "*"
sphinx-autoapi = "*"
sphinx-rtd-theme = "*"

[packages]
azure-identity = "*"
feedparser = "*"
flask = "*"
flask-caching = "*"
gcloud-config-helper = "*"
google-cloud-bigquery = "*"
google-cloud-firestore = "*"
google-cloud-secret-manager = "*"
gunicorn = "*"
matplotlib = "==3.5.2"
python-dateutil = "*"
pytz = "*"
requests = "*"
stringcase = "*"

[requires]
python_version = "3.9"
